<div class="beready-ctn ">

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <% if @product.photo.key %>
        <%= cl_image_tag @product.photo.key, class:"img-show"%>
      <%end%>

    </div>
  </div>
</div>
<div>
  <h2><%= @product.name %></h2>
</div>
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex ">
        <div class="col-8 ">


              <h2><%= @product.name %></h2>
                <span class="hint-star star">
                  <% counter = 0 %>
                  <% 3.times do %>
                  <i class="fa <%= @product.state > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                  <% end %>
                </span>


              <p>Description: <%= @product.description %></p>

              <p>Catégorie: <%= @product.category %></p>

              <div class="control">
                <button class="btn">
                <span class="price"><%= @product.unit_price %>$</span>
                <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                </button>
              </div>

       </div>

    </div>

        <div class="col-4 ">
          <h1>Sélectionné vos dates </h1>
            <%= simple_form_for([@product, @booking]) do |f| %>
              <%= f.input :start_date %>
              <%= f.input :end_date  %>
              <%= f.submit "Submit", class: "btn btn-primary" %>
          <% end %>
        </div>









    <div class="d-flex mt-2">
      <%= link_to "Back", products_path, class:"text-dark" %>
      <div class="ml-3">
        <%= link_to "Delete", product_path, method: :delete, class:"text-dark" %>
      </div>
    </div>

  </div>

  </div>

  </div>

</div>
