<div class="container">
  <div class="bg-light text-dark">

  <div class="d-flex p-1">
    <%= cl_image_tag("ems4u1fvu5jfgst1lkqy",
      width: 230, height: 230, crop: :fill) %>

    <div class="row">
      <div class="col-12 ml-3 mt-3">

           <h1><%= @product.name %></h1>
           <p>Description: <%= @product.description %></p>
             <p>Etat:
            <span class="badge badge-primary badge-pill">
              <% counter = 0 %>
              <% 3.times do %>
                <i class="fa <%= @product.state > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                <% counter += 1 %>
              <% end %>
            </span>
            </p>
           <p>Catégorie: <%= @product.category %></p>
       </div>
      </div>
    </div>
  </div>

  <form action="">
    <div class="input-group pt-2">
      <span class="input-group-addon" id="basic-addon1"></span>
      <input type="text" class="form-control" placeholder="Date de début" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mt-2">
      <span class="input-group-addon" id="basic-addon1"></span>
      <input type="text" class="form-control" placeholder="Date de fin" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <input type="submit" value="Réserver" class="btn btn-success mt-2" style="width: 100%">
  </form>

  <div class="text-dark">
    <%= link_to "Back", products_path %>
  </div>

  <div class="flex" pt-2>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
  </div>

</div>

